<div class="pull-right">
	<button type="button" id='clip_button' data-clipboard-text="<%= topic_url(@topic) %>" title='Copy link to clipboard.' class="btn btn-default" aria-label="Copy link to clipboard.">
	  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
	</button>
	<%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-time"), version_path(@topic.versions.last), :class => 'btn btn-default' %>
</div>
<h1><%= dt("#{controller_name}.#{action_name}.title", :model => dt("#{controller_name}.#{action_name}.model"), :instance => @topic.name) %></h1>
<%= render :partial => "show", :locals => { :item => @topic } %>
<div class="form-actions">
		<%= link_to dt('actions.edit', :model => Topic.model_name.human), edit_topic_path(@topic), :class => 'btn btn-primary' %>
		<%= link_to dt("actions.destroy", :model => Topic.model_name.human), topic_path(@topic), :class => 'btn btn-danger', :method => :delete, :data => { :confirm => dt("#{controller_name}.#{action_name}.confirm") } %>
</div>
