<%# add navigation links to this file %>
    <% if user_signed_in? %>
		<li class="<%= 'active' if controller_name.eql?('users') and action_name.eql?('show') and @user == current_user %>"><%= link_to content_tag(:span, "", :class => "glyphicon glyphicon-home"), root_path %></li>
		<li class="<%= 'active' if controller_name.eql?('topics') %>"><%= link_to Topic.model_name.human(:count => 2), topics_path %></li>
		<li class="<%= 'active' if controller_name.eql?('pages') %>"><%= link_to Page.model_name.human(:count => 2), pages_path %></li>
		<li class="<%= 'active' if controller_name.eql?('things') %>"><%= link_to Thing.model_name.human(:count => 2), things_path %></li>
		<li class="<%= 'active' if controller_name.eql?('groups') %>"><%= link_to Group.model_name.human(:count => 2), groups_path %></li>
	<% end %>


