<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sliki" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sliki" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="body">
  <div class="outercontainer">
      <div class=" container-fluid full3">
        <div class="container">
          <%= render 'layouts/header' %>
        </div>
      </div>
        <div class="container-fluid full">
          <%= render 'layouts/navigation' %>
        </div>

      <main class="container body" role="main" >
        <%= render 'layouts/messages' %>
        <%= yield %>
      </main>
    </div>
  </div>
  <footer class="full4" >
    <div class=" container-fluid footer">
      <%= render 'layouts/footer' %>
    </div>
    <div class="copyright">
      <p>TSSCDCR<span class="glyphicon glyphicon-copyright-mark">2015</span></p>
    </div>
  </footer>
  </body>
</html>
